
body {
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  font-size: 90%;
  margin: 0;
}

h1 {
  margin: 0;
}

p a {
  color: #d8a24d;
}

button {
  width: 160px;
  margin-top: 7px;
}


#customUrl {
  width: 90%;
}