
body {
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  background-color: black;
  color: white;
  font-size: 80%;
  margin: 0;
}

h1 {
  margin: 0;
}

ul li {
  list-style-type: none;
  margin-left: -30px;
}

p a {
  color: #d8a24d;
}

.soma {
  color: #ff001a;
}

#channels {
  margin-right: 10px;
  float: left;
  text-align: right;
}

#channels a {
  color: #ddd;
  font-decoration: none;
}

#channels a:hover {
  font-decoration: none;
  color: #ff001a;
}

#somaframe {
  width: 420px;
  height: 240px;
  border: 0;
}

#about {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#intro {
  color: #999; 
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  font-size: 120%;
  margin-top: 12px;
}
