
body {
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  background-color: black;
  color: white;
}

h1 {
  margin: 0;
}

ul li {
  list-style-type: none;
}

p a {
  color: #d8a24d;
}


li a {
  color: #eee;
}

#somaframe {
  width: 420px;
  height: 240px;
  border: 0;
}