
body {
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  background-color: black;
  color: white;
}

ul li {
  list-style-type: none;
}

p a {
  color: #d8a24d;
}


li a {
  color: #eee;
}

