
html, body {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
}


body {
  font-family: "Monaco", "Lucida Console", "Monotype.com", "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
  font-size: 90%;
  margin: 0;
}


footer {
  padding-top: 10px;
  background-color: #333;
  font-family: Sans-Serif;
}

h1 {
  margin: 0;
}

p a {
  color: #d8a24d;
}

#channels {
  margin-bottom: 20px;
}

button {
  margin-top: 8px;
}


#customUrl {
  width: 90%;
}